// For the breadcrumbs plugin (e.g. Things to Do > Travel With Us)
.breadcrumb-container {
  display: block;
  width:100%;

  @include grid-media($medium) {
    display: none;
  }
}

.nav-breadcrumb {
  width: 100%;
  display:flex;
  padding: 0.5em 0;

  a {
    font-size:.9em;
    text-transform: uppercase;
  }

  p.breadcrumb-spacer {
    margin-top:3px;
    padding:0px 5px;
    font-size: .8em;
    font-weight:300;
  }

  @include grid-media($medium) {
    display: none;
  }
}

hr.breadcrumb-hr {
  margin-top: 0 !important;
  margin-bottom: $small-spacing;
}

//Hides breadcrumb on several pages.
body.page-template.page-template-templates.page-template-template-things-to-do-blade.page-template-templatestemplate-things-to-do-blade-php.page.page-id-194.page-parent.logged-in.admin-bar.things-to-do.customize-support,
body.page-template.page-template-templates.page-template-template-no-header-blade.page-template-templatestemplate-no-header-blade-php.page.page-id-2152.logged-in.admin-bar.privacy-policy.customize-support,
body.page-template.page-template-templates.page-template-template-basic-header-blade.page-template-templatestemplate-basic-header-blade-php.page.page-id-2076.page-parent.logged-in.admin-bar.opportunities.customize-support {
  .nav-breadcrumb,
  .breadcrumb-container {
    display: none;
  }
}

body.page-template.page-template-templates.page-template-template-basic-header-blade.page-template-templatestemplate-basic-header-blade-php.page.page-id-2076.page-parent.logged-in.admin-bar.opportunities.customize-support,
body.page-template.page-template-templates.page-template-template-landing-page-with-subpages-blade.page-template-templatestemplate-landing-page-with-subpages-blade-php.page.page-id-1726.page-child.parent-pageid-294.logged-in.admin-bar.our-museums.customize-support {
  hr {
    display: none;
  }
}
