// Contact form plugin styling

.wpcf7 {
  width:50%;

  @include grid-media($medium) {
    width:100%;
  }

  form.wpcf7-form {
    // padding: $small-spacing 0;

  }

  label {
    margin-bottom: $small-spacing;
  }

  select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
    width:100%;
    height:40px;
    margin-bottom:0;
  }

  input {
    height:20px;
    margin-bottom:0;
  }

  span.wpcf7-list-item {
    display: block;
  }

  span.wpcf7-form-control-wrap.ZipPostalCode {
    position: relative;
  }

  input.wpcf7-form-control.wpcf7-submit {
    margin-top:1em;
    height: auto;
    width:200px;
    margin-top:$small-spacing;
  }

  select.wpcf7-form-control.wpcf7-select {
    height: 35px;
    width: 100%;
  }

  .wpcf7-list-item {
    font-weight: 300;

    input[type="checkbox"] {
      position: relative;
      top: 5px;
      height: auto;
    }
  }

  .wpcf7-checkbox {
    display: block;
    // margin-bottom: $base-spacing;

    .wpcf7-list-item {
      // margin-bottom: $small-spacing;
      display: flex;
      align-items: flex-start;
      margin-left: 0;
      margin-bottom: $small-spacing;
    }
  }
}

.top-bar__form {
  > .wpcf7 > form > p {
    display: flex !important;
  }
}
