.expert-list {
  margin-bottom: $base-spacing;
}

.expert-list__museum {
  margin-bottom: $small-spacing;
}

.expert {
  display: grid;
  grid-template-columns: 1fr 150px;
  grid-template-rows: auto 1fr;
  grid-column-gap: $small-spacing;
  padding-top: $small-spacing;
  border-top: 1px solid $light-gray;
}

.expert__photo {
  grid-row-start: span 2;
  grid-column-start: 2;
  margin-bottom: $small-spacing;
}

.expert__name {
  grid-row-start: 1;
}
