// GLOBAL MODULES -  Modules that can be used anywhere.  Break bigger modules into their own file.
////////////////////////////////////////////////////////////////

// This is the HR with a text overlay that serves as a break/section header.
.section-hr {
    display:block;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: $max-width;
    margin: auto;
    margin-bottom: $medium-spacing;
    padding: 0 $base-spacing;
    text-align: center;

    @include grid-media($medium) {
      margin-bottom: $medium-spacing;
      padding:0;
    }

    hr {
      position:relative;
      margin: 0;
      padding: 0;
      color:black;
    }

    .section-hr__h5 {
      width: 100%;
      height: 0;
      position: relative;
      text-align: center;
      top: -.875em;

    h5 {
      display: inline;
      text-transform: uppercase;
      padding: 0 1em;
      background-color:white;
      color: $base-color;
      font-family: $base-font-family;
    }
  }
}

// For anything you want to hide on mobile.
.mobile-hide {
  @include grid-media($medium) {
    display:none !important;
  }
}

// An hr that only appears on mobile.
.mobile-hr {
  display:none;

  @include grid-media($medium) {
    display:block;
    width:100%;
  }
}

// These ensure all images aligned left or right in the content editor function correctly.
img.alignleft {
  float:left;
  padding: 0 0.5em 0.5em 0;
}

img.alignright {
  float:right;
  padding: 0 0em 0.5em 0.5em;
}

// Appears on the mobile versions of the more things to do section on the homepage & things to do section.
.more-things, .activity__hr {
  display:none;
}

// Little arrow that appears next to some links.
.learn-more-arrow  {
  height:20px;
  position: relative;
  top:3px;

  @include grid-media($medium) {
    height:25px;
    left:10px;
    top:-12px;
  }
}

// All hrs.
// hr {
//   width:100%;
//   margin: .5em 0em;
// }

.content-wrapper {
  @include grid-collapse;
}

.content-wrapper hr {
  margin: $small-spacing * 1.5 0;
}

// Main text paragraph
.main-text {
  padding-bottom: $small-spacing;
  width: 100%;

  p {
    @include grid-media($large) {
      max-width:100%;
    }
  }
}

//Used on several 'Things to Do' templates
.activity-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;

  @include grid-media($medium) {
    flex-wrap: wrap;

    .activity__hr {
      padding-top: 0 !important;
      border: 0;
      clear: both;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #CCC;
    }

    .more-things {
      display: block;
    }
  }

  .activity {
    flex-basis: 23%;
    @include grid-media($medium) {
      flex-basis: 100%;
      display: flex;
    }

    a h3, a h4 {
      color: $dark-gray;
      &:hover {
        color: $action-color;
      }
    }

    h4 {
      font-family: 'Roboto';
      text-transform: uppercase;
      font-size: 1em;
      font-weight: 400;
      padding: 0;
      margin: 0 0 0.25em 0;
    }

    p {
      font-weight: lighter;
      padding: 0 0 3px;
      margin: 0;
      line-height: 20px;
      font-size: 0.9em;
    }

    .activity__main-image {
      @include grid-media($medium) {
        display: none;
      }
    }

    .activity__square-image {
      display: none;
      @include grid-media($medium) {
        display: block;
        height: 75px;
        width: 75px;
        margin-right: 1em;
      }
    }
  }
}

//Media credit for large hero images.
.media-details {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 $base-spacing;
  padding-bottom: 0;
  color: black;
  font-size: 0.7em;
  z-index: 1;

  > a {
    display: none;
  }

  @include grid-media($medium) {
    flex-wrap: wrap;
    padding: 0 $small-spacing;
  }
}

.media-details__caption, .media-details__credit {
  margin-bottom: $small-spacing;
}

.media-details__caption {
  font-weight: 400;

  @include grid-media($medium) {
    margin-bottom: 0;
  }

  &:empty + .media-details__credit:empty {
    display: none;
  }
}

.media-details__credit {
  font-weight: lighter;
  text-align: right;
}

.media-details__caption + .media-details__credit {
  margin-left: $base-spacing;

  @include grid-media($medium) {
    max-width: none;
    text-align: left;
    margin-top: $small-spacing / 2;
    margin-left: 0;
  }
}

//For automatically generated Wordpress pages (e.g. tags)
article,
.alert.alert-warning,
.navigation.posts-navigation,
form.search-form {
  max-width: $max-width;
  margin: auto;
  padding: 0 2em;

  h2 {
    font-weight: 400;
    margin-bottom: 0;
  }
}

article {
  padding-bottom: $small-spacing;
}

nav.navigation.posts-navigation {
  margin-bottom: $base-spacing;

  > h2.screen-reader-text {
    height: 0px;
    overflow: hidden;
  }
}

.page-header {
  max-width: $max-width;
  margin: auto;
  padding: 0 2em;

  h1 {
    width: 100%;
    font-weight: 400;
    padding-top: $small-spacing;
    margin-bottom: $base-spacing;
  }
}

// Site search form on 'no results were found' pages.
form.search-form {
  margin-top: 1em;

  input {
    max-width: 40%;
  }
}

//Added to prevent stray fixed-width elements from overflowing on mobile.
.content {
  overflow-x:hidden;
}

.magazine-sub-page {
  padding-top: 3em;

  @include grid-media($nav-break) {
    padding-top: 0;
  }

  .nav-breadcrumb {
    display: none;
  }
}
