.hero-header {
    height: 600px;
    width:100%;
    margin-bottom:10px;
    background-size:cover;
    background-position: center center;

    @include grid-media($extra-large) {
      height:500px;
    }
    @include grid-media($large) {
      height: 400px;
    }
    @include grid-media($medium) {
      height: 300px;
    }
    @include grid-media($small) {
      height: 200px;
    }
}

.hero-header__words-box {
  position: relative;
  background: #fff;
  display: inline-block;
  max-width: 100%;
  margin-top: -1em;
  padding: .3em .6em;
  font-size: 2em;
  margin-bottom:0;

  @include grid-media($medium) {
    max-width: 100%;
    font-size: 1.25em;
    margin-top: -1.25em;
  }

  @media (min-width: 1300px) {


  }
}

h1.hero-header__words-box {
  font-size: 3em;
  font-weight: 400;
  @include grid-media($medium) {
    font-size: 2em;
  }
}
