// BASE LIST STYLES
////////////////////////////////////////////////////////////////

.list--blank {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list--inline {
  @extend .list--blank;

  & > li {
    display: inline-block;
    margin-left: $base-spacing;

    &:first-child {
      margin-left: 0;
    }
  }
}

ol {
  list-style-type: decimal;
  margin:  0 0 $small-spacing ;
  padding: 0 0 0 $small-spacing * 1.5;
}

ul {
  list-style-type: disc;
  margin:  0 0 $small-spacing ;
  padding: 0 0 0 $small-spacing * 1.5;

  ul {
    list-style-type: circle;
    margin-bottom: 0.5em;
  }
}

main li:not(.tab) {
  margin-bottom: $small-spacing / 2;
}


dl {
  margin-bottom: $base-spacing / 2;

  dt {
    font-weight: bold;
    margin-top: $base-spacing / 2;
  }

  dd {
    margin: 0;
  }
}
