// BASE TABLE STYLES
////////////////////////////////////////////////////////////////

table {
  margin: $small-spacing 0;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: $base-border;
  font-weight: 600;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  padding: 1em;

  > p {
    max-width: 100% !important;
  }
}

tr,
td,
th {
  vertical-align: middle;
  border: solid 1px #cccccc;
}

td {
  padding: 0;

  @include grid-media($medium) {
    padding-right: 0.5em;
    font-size: 0.8em;

    h4 {
      font-size: 1em;
    }
  }

  > h3,
  > h4 {
    padding: 0;
    margin: 0;
  }

  > div {
    max-width: 100%;
  }
}

tr:nth-child(1) {
  border-bottom: 1px;
}

.SmartBoard_Table {
  font-family: $base-font-family;
  background-color: #eaeaea;
  border-collapse: initial;

  @include grid-media($large) {
    padding: 10px 0;
  }
}

.SmartBoard_Table td {
  padding: 10px 50px;

  @include grid-media($large) {
    padding: 5px 20px;
  }
}

.SmartBoard_Subject {
  font-size: 2rem;
  color: $base-color;

  @include grid-media($large) {
    font-size: 1.5rem;
    line-height: 1.33;
  }
}

.SmartBoard_DateTime {
  font-size: 1.25rem;

  @include grid-media($large) {
    font-size: 1rem;
  }
}

.SmartBoard_Message {
  font-size: 1.5rem;

  @include grid-media($large) {
    font-size: 1rem;
  }
}
