// BASE TYPOGRAPHY STYLES
////////////////////////////////////////////////////////////////

body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: 1.5;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $alt-font-family;
  line-height: 1.2;
  margin: 0 0 0.3em 0;
  font-weight: 400;
}


h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 1em;
}

p {
  margin: 0 0 $small-spacing 0;
  font-weight: 300;
}

b,
strong {
  font-weight: 400;
}

a:not([role]) {
  transition: color 0.2s;
  color: $base-color;
  text-decoration: none;

  &:active,
  &:hover {
    color: $dark-color;

  //  border: 3px solid red;
  }
}

pre {
  white-space: pre-wrap;
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}


// Alternate section colors
////////////////////////////////////////////////////////////////
%inverse {
  color: $inverse-font-color;

  a {
    // color: $inverse-action-color;
    color: $base-color;

    &:active,
    &:hover  {
      color: lighten($inverse-action-color, 20%);
      outline: none;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $inverse-font-color;
  }
}

.categories a,
.categories p {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300;
  color: grey;
}

h2.robot-uppercase {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}

.center {
  text-align: center;
}

.uppercase-bold {
  text-transform: uppercase;
  font-weight: 400;
}

.small-uppercase {
  text-transform: uppercase;
  font-size: .8em;
  font-weight: 300;
}

.small-uppercase--bold {
  @extend .small-uppercase;
  font-weight: bold;
}

.green-robot-link {
  font-family: 'Roboto', sans-serif;
  padding:0;
  margin:0.5em 0 0 0;
  font-weight: 400;
}

.author {
  font-style: italic;
  font-size:.9em;
  padding-top:.5em;
  margin-bottom: 0;
  font-weight: lighter;
}

.robot {
  font-family: 'Roboto', sans-serif !important;
}

.robot--bold {
  font-family: 'Roboto', sans-serif !important;
  font-weight: 400;
}

.robot--green {
  @extend .robot;
  color: $base-color;
}

h1 > a,
a > h1 {
  color: black;
  transition: .3s;
}

h1 > a:hover,
a > h1:hover {
  color: $base-color;
  transition: .3s;
}

.uppercase-robot {
  @extend .uppercase-bold;
  font-family: 'Roboto', sans-serif;
  margin:0;
}

.uppercase-robot--large {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size:1.5em;
}

.center {
  text-align: center;
}

hr {
  margin:0;
  margin-bottom:0.5em;
}

br {
  height:0px;
}

label {
  margin: 0;
}


ul.post-categories {
  padding: 0;
  margin: 0;

  a {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 400;
    color: #A6A6A6;
  }

  li {
    list-style-type: none;
  }
}

// For post tags.
ul.post-categories > li {
  list-style: none;
  text-transform: uppercase;
}

ul.post-categories > li > a {
  @extend .small-uppercase;
  color: grey;
}

.black-link {
  color: black !important;
  &:hover {
    color: $base-color !important;
  }
}
