// SITE FOOTER LAYOUT STYLES
////////////////////////////////////////////////////////////////
.footer {
  padding: $large-spacing 0;
  background-color: black;
  width:100%;
  overflow: hidden;

  .content-container {
    padding:0;
  }

  @include grid-media($large) {
    min-height: 900px;

    .left-section {
      padding-top:1em;
    }

    .footer__images {
      display:flex;
      align-items: center;
    }
  }

  .footer-logo {
    padding-right:2em;
  }

  .rad-container {
    display:flex;
    justify-content: center;
  }

  .rad-logo {
    margin-top:2em;
    height:100px;

    @include grid-media($large) {
      margin:0;
    }
  }

  .right-links {
    width:100%;
  }

  .top-row {
    display:flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    width:100%;

    @include grid-media($large) {
      display:block;
    }
  }

  .middle-row {
    display:flex;
    height:50px;
    width:100%;

    @include grid-media($medium) {
      display:block;
    }
  }

  .bottom-row {
    display:flex;
    justify-content: space-between;

    @include grid-media($large) {
      display:block;
      text-align: center;
    }

    p {
      color:white;
      font-weight: 300;
      font-size: .9em;
      text-transform: uppercase;
    }
    .copyright {
      text-transform: capitalize;
      position: relative;

      @media (max-width: 1100px) {
        left:0em;
      }

    }

    @include grid-media($medium) {
      position:relative;
      top:7em;
      margin:auto;
    }
  }

  .footer-links {
    width:90%;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;

    @include grid-media($large) {
      display:block;
    }

  .footer-links-section {
    flex-basis:50%;
    padding:0px 5px;

    a {
      padding-bottom:15px;
      display:block;
      color:white;
      text-transform: uppercase;
      font-size:1.3em;
    }
  }

  .footer-links-section__small {
    max-width:150px;

    @include grid-media($large) {
      max-width:none;
    }

    a {
      font-size:.8em;
      color:#707070;
    }
  }
}

  .footer__left-div {
    display:flex;
  }

  .footer__right-div {
    display:flex;

    @include grid-media($large) {
      flex-basis:100%;
      justify-content: space-between;
    }
  }

  .email-subscribe {
    flex-basis:70%;
    margin-bottom:0;
    padding-bottom:0;

    @include grid-media($medium) {
      flex-basis: 100%;
    }

    p {
      display:flex;
    }

    .wpcf7-form-control-wrap {
      @include grid-media($medium) {
        width: 100%;
      }
    }

    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email {
      height:42px;
      border-radius:2px;
      text-transform: uppercase;
      color:white;
      font-size:.9em;
      margin-top:5px;


      @include grid-media($medium) {
        display:block;
        width:100% !important;
      }
    }

    input.wpcf7-form-control.wpcf7-submit {
      @extend .green-button;
      height:42px;
      padding:0;
      width:100px;
      position:relative;
      left:.5em;

      @include grid-media($medium) {
        left:5px;
      }
    }
  }

  .small-social-icons {
    position: relative;
    width:100%;
    flex-basis: 30%;

    .icons {
      display:block;
      position: relative;
      height:50px;
      width:216px;
      float:right;

      @include grid-media($medium) {
        float:none;
        margin:auto;
      }
    }

    img {
      position: relative;
      top:6px;
      height:45px;
      width:45px;
      padding-bottom:4px;
    }

    ul {
      list-style: none;
    }

    li a {
      display:flex;
      position:relative;

      p {
        color:white;
        background:black;
        font-size: .8em;
        font-weight: 300;
        padding-top:.4em;
        margin:0;
        text-transform: uppercase;
      }
    }

    li > ul {
      position: absolute;
      width:150px;
      background-color: black;
      margin:0;
      padding:.3em .3em 0em .3em;
      visibility: hidden;
      opacity: 0;
      top:-8.9em;
      left:-.3em;
      transition: 0.5s all;
    }

    #facebook {
      position: absolute;
      left:.5em;
      padding:0;
      margin:0;
    }

    #twitter {
      position: absolute;
      padding:0;
      margin:0;
      left:4em;
    }

    #insta {
      position: absolute;
      left:7.4em;
      padding:0;
      margin:0;

      li > ul {
        top: -6em;
      }
    }

    #tumblr {
      position: absolute;
      left:10.7em;
      padding:0;
      margin:0;

      li > ul {
        top:-5.7em;
      }
    }

    #social-more {
      position: absolute;
      left:14em;
      padding:0;
      margin:0;

      img {
        top:4px;
        height:47px;
      }
    }

    ul li:hover ul {
        opacity:1;
        visibility:visible;
    }

    li a p {
      transition: 0.3s all;
    }

    li a p:hover {
        color:#96A061;
    }
}

  .hr-break {
    width:100%;
    display:block;
    color:#707070;
  }

  .hr-break-mobile {
    @extend .hr-break;
    display:none;

    @include grid-media($large) {
      display:block;
    }
  }
}
