// SITE FOOTER LAYOUT STYLES
////////////////////////////////////////////////////////////////
.footer {
  padding:3em;
  background-color: black;
  width:100%;
  overflow: hidden;

  @include grid-media($medium) {
    min-height:900px;
  }

  img {
    padding-right:2em;
  }

  .right-links {
    width:100%;
  }

  .top-row {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width:100%;
  }

  .middle-row {
    display:flex;
    flex-wrap: wrap;
    // align-items: flex-start;
    // justify-content: flex-start;
    height:50px;
  }

  .bottom-row {
    p {
      color:white;
      font-weight: 300;
      font-family: .7em;
      text-transform: uppercase;
    }
    .copyright {
      text-transform: capitalize;
    }

    @include grid-media($medium) {
      position:relative;
      top:7em;
      margin:auto;
    }
  }

  .footer-links {
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

  .footer-links-section {
    a {
      padding-bottom:15px;
      display:block;
      color:white;
      text-transform: uppercase;
      font-size:1.3em;
    }
  }

  .footer-links-section__small {
    a {
      font-size:.8em;
      color:#707070;
    }
  }
}

  .footer__left-div {
    display:flex;

    @include grid-media($medium) {
      flex-basis:100%;
      justify-content: space-between;
    }
  }

  .footer__right-div {
    display:flex;

    @include grid-media($medium) {
      flex-basis:100%;
      justify-content: space-between;
    }
  }

  .email-subscribe {
    margin-bottom:0;
    padding-bottom:0;

    @include grid-media($medium) {
      flex-basis: 100%;
    }

    p {
      display:flex;
    }
    input.wpcf7-form-control.wpcf7-text.wpcf7-email.wpcf7-validates-as-email {
      height:40px;
      margin-right: 5px;
      border-radius:2px;
      text-transform: uppercase;
      color:white;
      font-size:.9em;
      margin-top:5px;

      @include grid-media($medium) {
        min-width: 300px;
        max-width: 80%;
      }
    }

    input.wpcf7-form-control.wpcf7-submit {
      @extend .green-button;
      height:40px;
    }
  }

  .small-social-icons {
    width:50%;
    margin:auto;
    position:relative;
    top:5px;
    margin-left:5em;
    display:flex;
    justify-content: space-between;

    img {
      height:40px;
      padding:0;
      margin:5px;
      padding-right:3px;
    }

    @include grid-media($medium) {
      margin-left: 0;
      display:flex;
      justify-content: center;
      flex-basis: 100%;
    }
  }

  .hr-break {
    width:100%;
    display:block;
    color:#707070;
  }
}
