// SITE HEADER LAYOUT STYLES
////////////////////////////////////////////////////////////////


// signup header
.sign-up-header {
  background: $light-gray;
}

// main header
.site-header {
  padding-top: $base-spacing;
  text-align: center;
}

.site-header--logo {
  width: 300px;

}

//nav
.nav-primary {
  ul.nav {
    display: flex;
    margin: $small-spacing 0;
    padding: 0;
    justify-content: center;
    border-top: $base-border;
    @include grid-media($nav-break){
      display: none;
    }
  }

  li {
    display: block;
    padding: 0;
    margin: 0;
    //float: left;
    &:hover {
      background: #96a061;
    }
  }

  a {
    display: block;
    padding: $small-spacing;
    text-transform: uppercase;
    color: $base-font-color;
    &:hover {
      color: white;
    }
  }
}

ul.mobile--nav {
  @include grid-media($nav-break){
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  background: black;
  display: none;

  .mobile__symbols {
    display: flex;
    align-items: center;
    li {
      display: inline-block;
      padding: 20px;
    }
  }

  .mobile__plan {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: center;
    color: white;

    & > li {
      color: white;
      background: black;
      text-align: left;
      padding: 10px;
      font-family: $alt-font-family;
      text-transform: uppercase;
    }
    li {
      width: auto;
    }

    .mobile__hamburger {
      background: #96a061;
    }

    .mobile__search {
      background: #535353;
    }

    .mobile__down {
      background: black;
    }
  }

  li {
    width: 100%;
    background: #535353;

  }

  a {
    color: white;
  }



}
