// SITE HEADER LAYOUT STYLES
////////////////////////////////////////////////////////////////

// signup header
.sign-up-header {
  background: $light-gray;
}

// main header
.site-header {
  padding-top: $base-spacing;
  text-align: center;
}

.site-header--logo {
  width: 300px;
}


//nav bar
.menu-primary_navigation-container {
  font-family: $base-font-family;

  a {
    color: black;
  }
}

ul.nav {
  display: flex;
  position: relative;
  margin: $small-spacing 0;
  padding: 0;
  justify-content: space-between;
  border-top: $base-border;
  @include grid-media($nav-break){
    display: none;
  }
}

li.menu-item {
  padding: $small-spacing;
  position: relative;
  list-style-type: none;
  color: black;
  text-transform: uppercase;
  position: relative;
  transition: 0.3s all;
  &:active, &:hover, &.active {
    background: $nav-hover;
    color: white;
  }

}

ul.sub-menu {
  margin-top: $small-spacing;
  padding-left: 0;
  position: absolute;
  left: 0;
  display: block;
  overflow: hidden;
  max-height: 0;
  transition: all 0.3s;
  z-index: 1;
  &.active {
    display: block;
    max-height: 1000px;
  }
  li {
    background: #6F774A;
    width: 300px;
    color: white;
    padding: $small-spacing/2 $small-spacing;
    a {
      color: white;
      letter-spacing: 0.5px;
      font-size: 0.9em;
    }
  }
}

//mobile nav
.nav-mobile--toggle {
  display: none;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: stretch;
  padding-left: 0;
  background: black;
  margin-bottom: 0;

  &:hover{
    cursor: pointer;
  }
  @include grid-media($nav-break) {
    display: flex;

  }


  li {
    color: white;
    align-self: center;
    padding-left: $small-spacing;
    font-family: $alt-font-family;
    text-transform: uppercase;
  }
  .nav-mobile__symbols {
    display: flex;
    align-items: stretch;
    li {
      color: white;
      display: inline-block;
      padding: $small-spacing;
    }
  }
}

.nav-mobile-symbols__search {
   background: $nav-sec;
}

.nav-mobile-symbols__hamburger {
  background: $nav-prim;

}

ul.nav--mobile {
  display: none;
  flex-direction: column;
  width: 100%;
  padding-left: 0px;
  background: black;
  max-height: 0px;
  overflow: hidden;
  transition: all 0.3s;
  &:hover {
    cursor: pointer;
  }
  @include grid-media($nav-break) {
    display: flex;
  }
  &.active {
    max-height: 1000px;

  }

  & > li.menu-item {
    text-align: left;
    background: $nav-link-mobile;
    border-bottom: 1px solid white;
    text-transform: none;
    letter-spacing: 0.5px;
    font-size: 0.9em;
    padding: 0;

    a {
      color: white;
      display: inline-block;
      padding: $small-spacing;
    }

    &:before {
      font-family: FontAwesome;
      content: '\f078';
      color: white;
      text-align: right;
      //transform: rotate(180deg);
      display: inline-block;
      float: right;
      padding: $small-spacing;

    }

    &.active {
      &:before {
        font-family: FontAwesome;
        content: '\f077';
        color: white;
        text-align: right;
        //transform: rotate(180deg);
        display: inline-block;
        float: right;
        padding: $small-spacing;

      }
    }




    ul.sub-menu {
      display: block;
      width: 100%;
      position: static;
      margin-top: 0;
      max-height: 0;
      transition: all 0.3s;
      &.active {
        display: block;
        max-height: 1000px;
      }
      li {
        background: $nav-sub-item-mobile;
        display: block;
        width: 100%;
        padding: 0;
        text-transform: none;
        border-bottom: 1px solid white;
        &:last-child {
          border-bottom: none;
        }
        a {
          color: $dark-gray;
          font-size: 1.1em;
          width: 100%;
        }
      }
    }

  }

}

















//mobile nav bar
ul.mobile--nav {
  @include grid-media($nav-break){
    display: flex;
    flex-direction: column;
    //align-items: stretch;
    width: 100%;
    padding-left: 0px;
  }
  background: black;
  display: none;
  &.active {
    display: block;
    transition: all 0.3s;
  }
  li {
    width: 100%;
    background: #535353;
    border-bottom: 1px solid #d5d5d5;
    padding: $small-spacing;
  }

  .mobile--nav_link {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    color: white;
    a {
      color: white;
    }
    i {
      position: absolute;
      right: 21px;
    }
  }

  .mobile-nav--sub__items {
    padding-left: 0px;
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s;

    &.active {
      display: block;
      max-height: 1000px;
    }
    li.mobile-sub__link {
      background: #a9a9a9;
      text-align: left;
      a {
        color: #3c3c3c;
      }
    }
  }
  .mobile__symbols {
    display: flex;
    align-items: stretch;
    li {
      display: inline-block;
      padding: 15px;
    }
  }

  .mobile__plan {
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items: stretch;
    color: white;
    padding-left: 0;

    & > li {
      color: white;
      background: black;
      text-align: left;
      font-family: $alt-font-family;
      //text-transform: uppercase;
      width: auto;
    }


    .mobile__hamburger {
      background: #96a061;
    }

    .mobile__search {
      background: #535353;
    }

    .mobile__down {
      background: black;
    }
  }

  .mobile__expanded {
    display: none;

    &.active {
      display: block;
      transition: all 0.3s;
    }
  }
}


//nav mobile search

.screen-reader-text, label {
  clip: rect(1px,1px,1px,1px);
  position: absolute!important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

legend {
  font-weight: 600;
  margin-bottom: .375rem;
  padding: 0;
  border: 0;
}

fieldset {
  width: 100%;
}

.nav--mobile__search {
  background: $nav-sec;
  display: none;
  max-height: 0px;
  transition: 0.3s all;
  @include grid-media($nav-break){
    display: flex;
  }
  input {
    display: none;
  }

  button {
    display: none;
  }
  &.active {
    max-height: 1000px;
    padding: $large-spacing $small-spacing;
    @media (max-width: 700px) {
      padding: $small-spacing;
    }

    form {
      width: 100%;
      display: flex;

      @media (max-width: 700px) {
        height: 45px;
      }

    }

    input {
      width: 100%;
      height: 100%;
      display: inline-block;
      margin: 0;
      border-radius: 0;
      border: none;
      font-size: 1.5em;


    }
    button {
      background: $nav-prim;
      display: inline-block;
      border: none;
      color: white;
      font-size: 1.5em;
      padding: $small-spacing;
      @media (max-width: 700px) {
        height: 100%;
        padding:0 $small-spacing;
      }
    }
  }
}

//plan your visit
.plan {
  background: black;
  height: 500px;
  height: 300px;
}
