// SITE SECTIONS LAYOUT STYLES
////////////////////////////////////////////////////////////////

.main {
  min-height: 500px;
}

.section--primary {
  position: relative;
  padding: $small-spacing 0 $base-spacing 0;
  background:  $base-background-color;
  z-index: 99;

  + .section--primary {
    padding-top: 0;
  }

  @include grid-media($medium) {
    padding: $small-spacing 0;
  }
}

.section--secondary {
  position: relative;
  padding: $large-spacing 0;
  background: $secondary-background-color;
  z-index: 99;
}
