body.carnegie-magazine-archive {
  .content-container {
    padding-top: $large-spacing;
  }

  .basic-header + .content-container {
    padding-top: 0;
  }
}

.magazine-archive {
  display: flex;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE fix
    min-width: 100%;
  }

  @include grid-media($nav-break) {
    padding: 0;
  }

  .issue {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: $small-spacing 0;

    @include grid-media($nav-break) {
      flex-basis: 100%;
    }

    .text {
      width: 100%;
      margin-bottom: $base-spacing;
      margin-right: $base-spacing;
    }
  }

  .issues-row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin: 0 (-1 * $small-spacing);
    width: calc(100% + 2rem);
  }

  .issue__cover {
    width: 25%;
    padding: 0 $small-spacing;
    margin-bottom: $base-spacing;

    img {
      display: block;
    }

    @include grid-media($nav-break) {
      width: 50%;
    }

    @include grid-media($small) {
      h2 {
        font-size: 1.25rem;
      }
    }
  }

  .past-issues-heading {
    margin: 0 0 $base-spacing 0;
    width: 100%;
  }

  .past-issues-list {
    width: 100%;

    .post-issues-year {
      font-size: 1.25rem;
      margin-right: $base-spacing;
      min-width: 55px;
    }

    & > li {
      display: flex;

      @include grid-media($large) {
        flex-direction: column;

        & > ol {
          & > li {
            display: block;
            margin-left: $small-spacing;
          }
        }
      }
    }
  }
}
