.basic-header {

  .content-container {
    padding-bottom: 1em;

    .ul {
      margin-bottom: $small-spacing;
    }
  }

  .main-text {
    padding-bottom: $small-spacing;

    p {
      max-width: 60%;

      @include grid-media($large) {
        max-width:100%;
      }
    }
  }

  .wpcf7 {
    width:50%;

    @include grid-media($medium) {
      width:100%;
    }

    select.wpcf7-form-control.wpcf7-select.wpcf7-validates-as-required {
      width:100%;
      height:40px;
      margin-bottom:0;
    }

    input {
      height:20px;
      margin-bottom:0;
    }

    span.wpcf7-list-item {
      display: block;
    }

    span.wpcf7-form-control-wrap.ZipPostalCode {
      position: relative;
    }

    .wpcf7-form p {
      margin-bottom:0;
    }

    input.wpcf7-form-control.wpcf7-submit {
      margin-top:1em;
      height:auto;
      width:200px;
    }
  }
  #foogallery-gallery-821 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    a.fbx-link {
    flex-basis:32%;
    height:170px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    @include grid-media($large) {
      flex-basis:100%;
      height:300px;
    }

    #foogallery-gallery-821 > img {
        flex-shrink: 0;
        min-width: 100%;
        height: 170px;
        width:auto;
      }
    }
  }

  hr {
    // padding:0;
    margin:0;
    margin-bottom:0.5em;
  }

  br {
    height:0px;
  }

  p {
    padding-bottom: 0.5em !important;
  }

  label {
    margin:0;
  }

  ul > li {
    font-weight:300;
  }

  td {
    border-bottom:none;
    width: 33%;
    padding:0em .5em;

    >h3 {
      padding: 0;
    }

    >img {
      width:100%;
    }
  }

  tr:nth-child(1) {
    border-bottom:1px;
  }

}
