// Styling for the template which includes a hero image & basic text content, no custom fields.

.basic-header {
  .content-container {
    padding-bottom: 1em;

    .ul {
      margin-bottom: $small-spacing;
    }
  }

  ul > li {
    font-weight: 300;
  }

  .main-text {
    display: block;
    width: 100%;
  }
}
