// Big Picture & Magazine Signup on Current Issue page

.carnegie-magazine__big-picture {
  &.-pad-bottom {
    margin-bottom: $medium-spacing;
  }

  .media-credit {
    max-width: 20%;
    position: relative;
    bottom: 4em;
    left: 2em;
  }
}

h1.hero-header__words-box.green-robot-link {
  @include grid-media($medium) {
    padding: 0;
    margin: 0 0 $small-spacing 0;
  }
}

.magazine-signup {
  padding: $small-spacing 0;
  max-width: $max-width;
  width: 100%;
  text-align: center;
  padding-bottom: $base-spacing;

  @include grid-media($medium) {
    padding: 1em 0;
  }

  p {
    width: 100%;
  }
}
