//Carnegie Magazine homepage section 2 (Big Picture, Facetime)

.carnegie-magazine-section-2 {
  .carnegie-magazine__big-picture {
    margin-bottom: $small-spacing;
  }

  .carnegie-magazine__facetime {
    margin-bottom: $base-spacing;
  }

  h1.hero-header__words-box.robot {
    margin-top: 0;
    margin-bottom: $small-spacing;
    line-height: 1.1;

    @include grid-media($medium) {
      margin-top: $small-spacing / 2;
    }
  }

  .facetime {
    display: flex;
    overflow: hidden;
    width: 75%;
    @include grid-media($large) {
      width: 100%;
    }

    p {
      font-weight: bold;
    }
  }

  h2.facetime-title {
    width: 100%;
    font-family: $base-font-family;
    text-transform: uppercase;
  }

  .facetime__left {
    margin-right: $small-spacing;

    .facetime__left__name {
      font-size: 1.5em;
    }

    img {
      max-height: 672px;

      @include grid-media($small) {
        max-height: 575px;
      }
    }
  }

  .facetime__right {
    flex-basis: 30%;
    flex-flow: column;

    @include grid-media($small) {
      flex-basis: 40%;
    }

    img {
      max-height: 193px;
    }
  }

  p.facetime__text {
    max-width: 48%;
    @include grid-media($medium) {
      max-width: 100%;
    }
  }

  .media-credit {
    max-width: 20%;
    position: relative;
    bottom: 4em;
    left: 2em;
  }
}
