// Top section of Carnegie Magazine Current Issue page.

.carnegie-magazine-current-1 {
  display: flex;
  padding-bottom: $base-spacing;

  .current-issue {
    display: flex;
    align-content: space-between;
    padding-bottom: $base-spacing;
    @include grid-media($medium) {
      display: block;
    }
  }

  .current-issue__left {
    flex-basis: 60%;
    padding: 0 $small-spacing 0 0;
    overflow: hidden;
  }

  .current-issue__right {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $small-spacing $small-spacing 0;
    overflow: hidden;
    @include grid-media($medium) {
      padding: 0;
    }
  }

  .issue-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .magazine-archives__container {
    display: flex;
    justify-content: space-between;
  }

  .archive {
    flex-basis: 48%;
  }

  .green-button {
    width: 100%;
    padding: $small-spacing $base-spacing;
    margin-bottom: 0.5em;
  }
}
