//Carnegie Magazine homepage section 2 (Big Picture, Facetime)

.carnegie-magazine-section-2 {
  .content-container {
    display: block;
    padding: 0 3em;

    @include grid-media($medium) {
      padding: 0 1em;
    }
  }

  p {
    max-width: 75%;
    padding-bottom: $base-spacing;
    @include grid-media($medium) {
      max-width: 100%;
      padding-top: 0.5em;
    }
  }

  h1.hero-header__words-box.robot {
    padding-left: 0.7em;

    @include grid-media($medium) {
      padding: 0;
      margin: 0;
    }
  }

  .facetime {
    display: flex;
    overflow: hidden;
    width: 75%;
    @include grid-media($large) {
      width: 100%;
    }

    p {
      padding: 0;
      margin: 0;
      font-weight: bold;
    }
  }

  h2.facetime-title {
    width: 100%;
  }

  .facetime__left {
    padding-right: 0.5em;

    .facetime__left__name {
      font-size: 1.5em;
    }

    img {
      max-height: 640px;
    }
  }

  .facetime__right {
    flex-basis: 30%;
    flex-flow: column;

    img {
      max-height: 193px;
    }
  }

  p.facetime__text {
    max-width: 48%;
    @include grid-media($medium) {
      max-width: 100%;
    }
  }

  .media-credit {
    max-width: 20%;
    position: relative;
    bottom: 4em;
    left: 2em;
  }
}
