//Carnegie Magazine homepage section (Inside the Museums).

.carnegie-magazine-section-3 {
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;

  .hero-header__words-box {
    margin-top: 0;
  }
}
