// Big Picture & Magazine Signup on Current Issue page

.carnegie-magazine__big-picture {
  .content-container {
    padding: 0 3em;
  }

  .media-credit {
    max-width: 20%;
    position: relative;
    bottom: 4em;
    left: 2em;
  }
}

.magazine-signup {
  padding: $small-spacing 0;
  max-width: $max-width;
  width: 100%;
  text-align: center;
  padding-bottom: $base-spacing;

  p {
    width: 100%;
  }
}
