.carnegie-magazine-current-1 {

  .current-issue {
    display: flex;
    align-content: space-between;
  }

  .current-issue__left {
    flex-basis: 60%;
    padding: 0 $small-spacing;
    overflow: hidden;
  }

  .current-issue__right {
    flex-basis: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 $small-spacing;
    overflow: hidden;
  }

  .issue-title {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ul > li {
    list-style: none;
    text-transform: uppercase;
  }

  .small-uppercase {
    text-transform: uppercase;
    font-size: .8em;
    font-weight: 300;
  }

  ul.post-categories > li > a {
    @extend .small-uppercase;
    color: grey;
  }

  .small-uppercase--bold {
    @extend .small-uppercase;
    font-weight: 400;
  }

  .green-robot-link {
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    font-weight: 400;
  }

  .author {
    font-style: italic;
    font-size:.9em;
    padding-top:.5em;
  }

  .magazine-archives__container {
    display: flex;
    justify-content: space-between;
  }

  .archive {
    flex-basis: 48%;
  }

  .center {
    text-align: center;
  }

  .uppercase-bold {
    text-transform: uppercase;
    font-weight: 400;
  }

  .green-button {
    width: 100%;
    padding: $small-spacing $base-spacing;
    margin-bottom: 0;
  }
}
