// An archived issue, displayed in an iframe

.carnegie-magazine-archived-issue {
  margin: $base-spacing auto $large-spacing auto;

  h2.issue-title {
    margin-bottom: $base-spacing;
  }

  .content-container {
    display: block;
  }

  .iframe-wrap {
    position: relative;
    width: 100%;
    min-height: 400px;
    max-height: 80vh;

    &:before {
      content: '';
      display: block;
      padding-top: 66.667%;
    }
  }

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
  }
}
