// Top section of Carnegie Magazine Current Issue page.

.carnegie-magazine-current-1 {
  display: flex;
  padding-top: 0;
  padding-bottom: $base-spacing;

  @include grid-media($nav-break) {
    padding-top: 0;
  }

  .content-container {
    width: 100%;
    display: flex;
  }

  .current-issue {
    display: flex;
    width: 100%;
    padding-bottom: $base-spacing;
    flex-shrink: 0;

    @include grid-media($medium) {
      display: block;
    }
  }

  .cover {
    .cover__inner {
      position: relative;
      background-size: cover;
      background-position: 50% 50%;
    }
  }

  .current-issue__cover-story,
  .magazine-archives {
    @include grid-media($large) {
      margin-bottom: $medium-spacing;
    }
  }

  .current-issue__left {
    width: 60%;
    overflow: hidden;
    padding-right: $small-spacing;

    @include grid-media($medium) {
      padding: 0;
      width: 100%;
    }
  }

  .current-issue__right {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: $small-spacing;

    .green-button {
      margin-bottom: 0;
    }

    @include grid-media($medium) {
      padding: 0;
      width: 100%;
    }

    .magazine-subscribe--sidebar .button {
      display: block;
      width: 100%;
    }
  }

  .issue-title {
    margin: 0.5rem 0;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  .magazine-archives__container {
    display: flex;
    justify-content: space-around;
  }

  .archive {
    flex-basis: 40%;
  }

  .green-button {
    width: 100%;
    padding: $small-spacing $base-spacing;
    margin-bottom: 0.5em;
  }
}
