//Carnegie Magazine homepage section 2 (Big Picture, Facetime)

.carnegie-magazine-section-2 {
  .carnegie-magazine__big-picture {
    margin-bottom: $small-spacing;
  }

  .carnegie-magazine__facetime {
    margin-bottom: $base-spacing;
  }

  h1.hero-header__words-box.sans-serif {
    margin-top: 0;
    margin-bottom: $small-spacing;
    line-height: 1.1;
    letter-spacing: -1px;

    @include grid-media($medium) {
      margin-top: $small-spacing / 2;
    }
  }

  .facetime {
    display: flex;
    overflow: hidden;
    width: 75%;
    justify-content: space-between;

    @include grid-media($large) {
      width: 100%;
    }

    p {
      font-weight: bold;
    }

    @include grid-media($medium) {
      flex-wrap: wrap;
    }
  }

  h2.facetime-title {
    width: 100%;
    font-family: $base-font-family;
    text-transform: uppercase;
  }

  .facetime__left {
    width: 70%;

    .facetime__left__name {
      font-size: 1.5em;
    }

    @include grid-media($medium) {
      width: 100%;
      margin-right: 0;
    }
  }

  .facetime__right {
    width: calc(30% - #{$small-spacing});
    flex-flow: column;

    @include grid-media($medium) {
      width: 100%;
      display: flex;
      flex-flow: row;

      .face + .face {
        margin-left: $small-spacing;
      }
    }

    @include grid-media($small) {
      display: block;

      .face {
        & + .face {
          margin-left: 0;
        }

        img {
          width: 100%;
          height: auto;
          max-height: none;
        }
      }
    }

    img {
      max-height: 193px;
    }
  }

  p.facetime__text {
    font-weight: 300;
  }

  .media-credit {
    max-width: 20%;
    position: relative;
    bottom: 4em;
    left: 2em;
  }
}
