// Styling for section 1 of the Carnegie Magazine homepage, stops before the 'Big Picture' section.

.magazine-featured-articles {
  display: flex;
  padding-bottom: $base-spacing;
  max-width: $max-width;
  margin: auto;
  width: 100%;

  .magazine-featured-articles__main {
    flex-basis: 75%;
    @include grid-media($large) {
      flex-basis: 100%;
    }
  }

  .magazine-featured-articles__sidebar {
    padding: $small-spacing;
    flex-basis: 25%;
  }

  .main-article-content p {
    max-width: 90%;
    @include grid-media($medium) {
      max-width: 100%;
    }
  }

  hr {
    margin-top: $small-spacing;
    margin-bottom: 0.5em;
  }

  .article {
    display: block;
    padding-bottom: $base-spacing;

    p {
      max-width: 90%;
      @include grid-media($medium) {
        max-width: 100%;
      }
    }
  }

  .featured-stories {
    .article {
      padding-bottom: $small-spacing;
    }

    .article__image-container {
      height: 275px;
      overflow: hidden;
      @include grid-media($large) {
        height: auto;
      }
    }

    .author {
      padding: 0.5em 0;
    }
  }

  .magazine-featured-articles__section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $base-spacing;
    @include grid-media($medium) {
      padding: 0 $small-spacing;
    }

    .article {
      flex-basis: 49%;
      @include grid-media($medium) {
        flex-basis: 100%;
      }

      .article__image-container {
        height: 275px;
        overflow: hidden;
        @include grid-media($large) {
          height: 200px;
        }

        img {
          width: 100%;
        }
      }
    }
  }

  .magazine-featured-articles__sidebar {
    flex-basis: 25%;
    @include grid-media($large) {
      display: none;
    }

    .magazine-featured-articles__sidebar__container {
      padding: $small-spacing;
      border-left: 1px solid #CCC;
      border-bottom: 1px solid #CCC;
    }

    .most-read-articles {
      padding-top: $base-spacing;
    }

    .article__title {
      padding-top: $small-spacing;
      text-transform: none;
    }

    button.grey-button {
      max-width: 100%;
    }
  }

  h3, h4 {
    margin-bottom: 0;
    margin-top: .25em;
  }

  a > h3 {
    font-weight: 400;
  }
}
