// Second section of Carnegie Magazine Current Issue page (Featured Articles).

.carnegie-magazine-current-2 {
  display: flex;
  padding-bottom: $base-spacing;
  margin: auto;

  .content-container {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      // min-width: 100%;
      min-width: $max-width;
      margin: auto;

      @include grid-media($extra-large) {
        min-width: 1136px;
      }
    }
  }

  .features {
    @include grid-collapse;

    .article {
      @include grid-column(4);

      @include grid-media($medium) {
        @include grid-column(12);
        margin-bottom: 2em;
      }
    }
  }

  .article__image-container {
    height: 225px;
    overflow: hidden;

    img {
      height: auto;
      width: auto;
    }
  }

  hr {
    margin: 0 0 0.5em;
  }
}
