//Carnegie Magazine homepage section (Inside the Museums).

.carnegie-magazine-section-3 {
  padding-bottom: $base-spacing;
  margin-bottom: $base-spacing;

  .content-container {
    padding: 0 5em;
  }

  p.inside-museums-text {
    max-width: 75%;
    @include grid-media($medium) {
      max-width: 100%;
      padding-top: 0.5em;
    }
  }
}
