// Styling for the contact form on the Events Space pages.

.event-spaces-contact {
  width: 100%;
  margin-top: $small-spacing;
  padding-bottom: $base-spacing;

  .contact-form {
    margin-top: $large-spacing;
    h2 {
      padding-bottom: $small-spacing;
    }
    p:nth-of-type(2) {
      margin-bottom: $base-spacing;
    }
  }
}
