// Great Events Spaces landing page.

.event-spaces {
  .content-container {
    // padding-top: 1em;
    padding-bottom: $small-spacing;
    display: block;
  }

  .spaces {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .event-space {
      position: relative;
      flex-basis: 49%;
      // height:550px;
      margin-bottom: $small-spacing;
      @include grid-media($large) {
        flex-basis: 100%;
        height: auto;
      }

      h2 {
        position: absolute;
        top: 235px;
        left: 0;
        background-color: white;
        display: inline-block;
        padding-right: 0.2em;
        padding-top: 0.1em;
        font-family: 'Roboto', sans-serif;
        @include grid-media($medium) {
          font-size: 1.5em;
          top: 250px;
        }
      }

      p {
        padding-top: 0.5em;
      }
    }

    .event-space__image-container {
      height: 275px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%;
      }
    }
  }
}
