.event-spaces {

  .content-container {
    padding-top:1em;
    padding-bottom: $small-spacing;
    display: block;

    @include grid-media($medium) {
      padding: 1em;
    }
  }

  h1.hero-header__words-box {
    position: relative;
    top: -.5em;

    @include grid-media($medium) {
      padding-bottom: $small-spacing;
    }
  }

  .spaces {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .event-space {
      position: relative;
      flex-basis:49%;
      height:550px;
      margin-bottom: $small-spacing;

      @include grid-media($large) {
        flex-basis: 100%;
        height:auto;
      }

      h2 {
        position: absolute;
        top: 235px;
        left:0;
        background-color: white;
        display: inline-block;
        padding-right: .2em;
        padding-top: .1em;
        font-family: 'Roboto', sans-serif;

        @include grid-media($medium) {
          font-size: 1.5em;
          top: 250px;
        }
      }

      p {
        padding-top: .5em;
      }
    }

    .event-space__image-container {
      height:275px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
      }
    }
  }

  .main-text {
    max-width: 60%;
    padding-bottom: $small-spacing;
    margin-bottom: 0;
    position: relative;
    top: -1em;

    @include grid-media($medium) {
      max-width: 100%;
    }
  }
}

.wpcf7 {
  h2 {
    margin:0;
    padding: 0;
  }

  form {
    max-width: 100%;

    @include grid-media($medium) {
      max-width:100%;
    }
  }

  span.wpcf7-list-item {
    display:block;
  }
}
