// Styling for the Great Events Spaces pages with hover-over descriptions.

.event-spaces-gallery {
  .content-container {
    display: block;
    padding-top: 0;
  }

  .spaces {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .event-space {
      overflow: hidden;
      flex-basis: 49%;
      padding-bottom: $small-spacing;
      @include grid-media($large) {
        flex-basis: 100%;
      }
      @include grid-media($medium) {
        flex-basis: 100%;
      }

      h2 {
        font-family: 'Roboto', sans-serif;
        font-size: 1.5em;
        margin-bottom: 0;
      }
    }

    .event-space__image-container {
      height: 325px;
      background-size: cover;
      background-position: center;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;
      @include grid-media($medium) {
        height: 400px;
      }
      @include grid-media($small) {
        height: 300px;
      }

      .event-space__description {
        height: 100%;
        width: 100%;
        padding: 1em;
        position: relative;
        left: 0;
        margin: auto;
        background-color: black;
        transition: 0.3s all;
        opacity: 0;
        // overflow: hidden;
        @include grid-media($large) {
          opacity: 0.8;
          max-width: 60%;
          left: -1em;
          margin-left: 1em;
          top: 0;
          background-color: transparent;
          // height: 50%;
        }
        @include grid-media($medium) {
          max-width: 100%;
          margin-left: 0em;
          left: 0;
        }

        li,
        p {
          position: relative;
          opacity: 1;
          color: white;
          font-size: 0.8em;
          font-weight: 300;
          object-fit: contain;
          // padding: 0.5em 1em;
          @include grid-media($large) {
            top: 0.5em;
            background-color: black;
            padding: .5em;
          }
          @include grid-media($small) {
            font-size: .7em;
          }
        }
      }

      img {
        object-fit: cover;
      }
    }
  }

  .event-space:hover > .event-space__image-container > .event-space__description {
    opacity: 0.8;
  }
}
