.event-spaces-gallery {

  .content-container {
    padding-top:1em;

    @include grid-media($medium) {
      padding: 1em;
    }
  }

  h1 {
    background-color: white;
    display:inline-block;
    position: relative;
    top:290px;
    font: 'Lora', serif;
    padding:0.3em 1.2em 0em 1.2em;
    font-weight: lighter;

    @include grid-media($medium) {
      // padding:0;
      top:102px;
      left:0;
      padding:0.3em 1.2em 0em .5em;
    }
  }

  .spaces {
    display:flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .event-space {
      flex-basis:32%;
      height:300px;

      @include grid-media($large) {
        flex-basis: 100%;
      }
    }

    .event-space__image-container {
      height:275px;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      position: relative;

      .event-space__description {
        position: absolute;
        text-align:center;
        margin:auto;
        width: 100%;
        height:100%;
        background-color:black;
        transition: 0.3s all;
        opacity: 0;

        h2, p {
          position: relative;
          top:40%;
          opacity: 1;
          color:white;
        }

        h2 {
          font-family: 'Roboto', sans-serif;
          font-weight:300;
          font-size:1.5em;
          padding:0em 1em;
        }
      }

      img {
        flex-shrink: 0;
        min-width: 100%;
        min-height: 100%
      }
    }
  }

  .event-space:hover > .event-space__image-container > .event-space__description {
    opacity: .7;
  }
}
