#featured-exhibits {

.exhibit-header {

  flex-basis:100%;

  @include grid-media($medium) {
    height:200px;
    margin:0;
    padding:0;
    overflow: hidden;
  }

  .exhibit__image {
    height:350px !important;
    width:100%;
    margin-bottom:10px;
    background-size:cover;
    background-position: center;

    @include grid-media($medium) {
      height:150px !important;
    }
  }

  .exhibit-preview__summary {
    padding:0px;
    margin:0px;
    height:250px;

    p {
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
    }
  }

  .exhibit-preview__dates {
    position:relative;
    top:-64px;
    display:flex;

    p {
      font-family: 'Roboto', sans-serif;
      text-transform: uppercase;
      background-color: white;
      font-weight:bolder;
      height:54px;
      padding: 1em 0em 1em 0em;
      font-size: .8em;
    }
    .end-date {
      padding-right:1em;
    }
  }

  .exhibit__words-box {
    position:relative;
    top:-50px;

    .exhibit__learn-more-arrow {
      height:25px;
      position: relative;
      left:5px;
      top:4px;
    }
  }
}

  .section-hr {
      display:block;
      text-align: center;
      width:90% !important;
      max-width: 1300px;
      margin:auto;
      padding:1em;

      @include grid-media($medium) {
        display:none;
      }

      hr {
        position:relative;
        top:-73px;
        padding-top:0px;
        padding-bottom:10px;
        width:100% !important;
        color:black;
      }

      .section-hr__h5 {
        width:160px;
        position:relative;
        margin:auto;
        top:-120px;
        margin: auto;
        padding:3px;
        background-color:white;

        h5 {
            font-family:'Roboto', sans-serif;
            text-transform: uppercase;
        }
    }
    .exhibit__words-box, .section-hr {
      max-width:1300px;
      margin:auto;
    }
  }
}

.content-container {

  .exhibit {

    padding:2em 1em 1em 1em;
    flex-basis:50%;

    .exhibit__image {
      height:150px;
      background-size: cover;
      background-position: center;
      margin:auto;

    }

    .exhibit-preview__dates
    {
        position:relative;
        top:-30px;
        display:flex;
        padding-left: 1em;
        padding-right:1em;

        p {
          font-family: 'Roboto', sans-serif;
          font-size:.8em;
          text-transform: uppercase;
          background-color: white;
          height:30px;
          padding-top:5px;
        }
        .end-date {
        }
        .new-exhibit {
          padding-right: 1em;
        }
    }

    .exhibit__words-box {
      position:relative;
      top: -20px;
      width:100%;
      padding:0;
      margin:auto;

      .exhibit-preview__title {
        padding:0;
        margin:0;
        font-family: 'Lora', sans-serif;
        font-weight: lighter;
        font-size:1.3em;

        @include grid-media($medium) {
          font-size: 2em;

        }
      }
      p, a {
        font-family: 'Roboto', sans-serif;
        font-weight: 300;
      }
      a {
        font-weight:500;
      }

      .exhibit__learn-more-arrow {
        height:25px;
        position: relative;
        left:5px;
        top:4px;
      }

      @include grid-media($small) {
        padding:.5em;
      }
    }


    @include grid-media($small) {
      width:100%;
      flex-basis:100%;

      .exhibit__image {
        width:100%;
      }
    }

  @include grid-media($small) {
    width:100%;
    padding:0;
  }
}

  @include grid-media($small) {
    width:100%;
    padding:0;
  }
}

.exhibit__learn-more-mobile {
  display:none;
}

.section-hr-mobile {
  display:none;
  text-align: center;
  margin:auto;
  height:30px;
  padding-top:3em;
  padding-bottom:0em;

  hr {
    position:relative;
    top:-73px;
    padding-top:0px;
    padding-bottom:10px;
    width:100% !important;
    color:black;
  }

  .section-hr__h5 {
    width:225px;
    position:relative;
    margin:auto;
    top:-120px;
    margin: auto;
    padding-left:3px;
    padding-right:3px;
    background-color:white;

    h5 {
        font-family:'Roboto', sans-serif;
        text-transform: uppercase;
        font-size:25px;
    }
  }
}

@include grid-media($medium) {
  #featured-exhibits {
    margin-top:1em;
  }

  .exhibit-preview__dates {
    left:5px;

  .start-date {
      padding-left: 10px;
    }
  }

  .exhibit__words-box {
    padding:1em;
  }

  .exhibit__words-box p {
    display: none;
  }

  .exhibit__learn-more {
    display:none;
  }

  .exhibit__learn-more-mobile {
    display:inline;
  }

  .section-hr-mobile {
    display:block;
  }

  .exhibit-preview__title {
    width:90%;
    display:inline;
    position:relative;
    left: .65em;
  }
}
