#featured-articles {

  padding-top: 1em;

  .articles__featured-content {
    padding: 0em 3em;

    @include grid-media($medium) {
      padding: 0em 1em;
    }
  }

  .section-hr {
    top:3em;

    @include grid-media($medium) {
      position: relative;
      height:1px;
      top:1.5em;
      padding:0;
    }
  }

  .section-hr__h5 {
      width:250px;

      @include grid-media($medium) {
        width:275px;
      }
    }

  .hero-header {
      height:400px;
      width:100%;
      margin-bottom:10px;
      margin-top:.1em;
      background-size:cover;
      background-position: top center;

      @include grid-media($medium) {
        height:150px;
      }
  }

  .featured-articles-h3 {
    font-family:'Roboto';
    text-transform: uppercase;
    font-size:1em;
    margin-top:2em;

    @include grid-media($medium) {
      display:none;
    }
  }

  .article-container {
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .article__title,
  .article__author,
  .article__summary,
  .readmore-link {
    display:none;

    @include grid-media($medium) {
      display:block;
    }
  }

  @include grid-media($medium) {
    .article__quote, #article__button {
      display:none;
    }
  }

  .article__title {
    text-align: center;
    font-weight:300;
    margin-top:.5em;
    margin-bottom: 0;
    padding:0;
  }

  .article__author {
    text-align: center;
    font-size: 1em;
    font-weight:bold;
    margin:0;
    padding:0;
    font-style: italic;
    color:#7a7a7a;
  }

  .article__summary {
    padding: 1em 1em 0em 1em;
    font-family: sans-serif;
    font-size:1em;
    font-weight:300;

    a {
      font-family: 'Lora', serif;
      text-transform: uppercase;
      font-size: .8em;
      font-weight:bolder;
    }
  }

  .carnegie-magazine {
    height:130px;
    padding:0em 1.5em 1em 1.5em;
    overflow:auto;
    display:flex;
    justify-content: space-between;
    margin-bottom:1em;

    .carnegie-magazine__left-div {
      min-width:100px;
      overflow: hidden;
      margin-right: 1em;
    }

    .carnegie-magazine__right-div {
      display:flex;
      flex-direction: column;
      justify-content: space-between;

      button {
        padding: .75em;
        font-weight: 500;
      }
    }

    display:none;

    @include grid-media($medium) {
      display:flex;
    }
  }

  .magazine-hr {
    width:100%;
    display: none;

    @include grid-media($medium) {
      display:block;
    }
  }

  .article {
    flex-basis:49%;
    padding-bottom:1em;
    display:flex;

    @include grid-media($medium) {
      display:none;
    }

    img {
      height:100px;
      width:100px;
      padding-right:1em;
    }

    .article__text-box {
      h4 {
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 1.3em;
        padding:0;
        margin:0;
        font-weight:400;
      }
      p {
        font-weight:lighter;
        padding:0;
        padding-bottom:3px;
        margin:0;
        line-height: 20px;
        font-size:.9em;
      }
    }
  }
}
