// This is the Featured Articles section on the homepage, under 'Carnegie Magazine'

#featured-articles {
  .articles__featured {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  .featured-articles-title {
    padding-bottom: 0.5em;
    @include grid-media($medium) {
      display: none;
    }
  }

  .article-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .article__author,
  .article__summary,
  .readmore-link {
    display: none;
    @include grid-media($medium) {
      display: block;
    }
  }
  @include grid-media($medium) {
    #article__button,
    .article__quote {
      display: none;
    }
  }

  .article__title {
    text-align: center;
    font-weight: 300;
    margin-top: 0.5em;
    margin-bottom: 0;
    padding: 0;
  }

  h1.hero-header__words-box {
    @include grid-media($medium) {
      text-align: center;
      left: 0;
    }
  }

  .article__author {
    text-align: center;
    font-size: 1em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    font-style: italic;
    color: #7a7a7a;
  }

  .article__summary {
    padding: 1em 1em 0;
    font-family: sans-serif;
    font-size: 1em;
    font-weight: 300;

    a {
      font-family: 'Lora', serif;
      text-transform: uppercase;
      font-size: 0.8em;
      font-weight: bolder;
    }
  }

  .carnegie-magazine {
    height: 130px;
    overflow: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;

    .carnegie-magazine__left-div {
      min-width: 100px;
      overflow: hidden;
      margin-right: 1em;
    }

    .carnegie-magazine__right-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      a.green-button {
        padding: 0.75em;
        font-weight: 500;
        text-align: center;
      }
    }
    display: none;
    @include grid-media($medium) {
      display: flex;
    }
  }

  .magazine-hr {
    display: none;
    @include grid-media($medium) {
      display: block;
    }
  }

  .article {
    flex-basis: 49%;
    padding-bottom: $base-spacing;
    display: flex;
    @include grid-media($medium) {
      display: none;
    }

    img {
      height: 100px;
      width: 100px;
      padding-right: 1em;
    }

    .article__text-box {
      h4 {
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 1.3em;
        padding: 0;
        margin: 0;
        font-weight: 400;
      }

      p {
        font-weight: lighter;
        padding: 0 0 3px;
        margin: 0;
        line-height: 20px;
        font-size: 0.9em;
      }
    }
  }
}
