// Featured Exhibits section on the homepage, under 'Now Showing.'

.exhibit-container {
  display: flex;
  flex-wrap: wrap;
  padding: 0 $base-spacing;
  max-width: $max-width;
  margin: auto;
  justify-content: space-between;

  @include grid-media($medium) {
    margin-bottom: $base-spacing;
    padding: 0;
  }
}

//individual exhibits
.exhibit {
  padding-top: 0;
  margin: 0;
  width: 48%;
  margin-bottom: $base-spacing;

  @include grid-media($medium) {
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }
  }
}
//their image
.exhibit__image {
  position: relative;
  height: 200px;
  background-size: cover;
  background-position: center;
  margin-bottom: $small-spacing;

  @include grid-media($large) {
    height: 150px;
  }
}
//dates of exhibit
.exhibit-preview__dates {
  position: absolute;
  bottom: 0;

  @include grid-media($medium) {
    height: auto;
  }

  p {
    font-family: $base-font-family;
    font-size: 0.8em;
    font-weight: bold !important;
    text-transform: uppercase;
    background-color: white;
    padding: 0.75em $small-spacing 0 $small-spacing;
    margin: 0;
    color: black;
    line-height: 1;
  }
}

.exhibit-preview__title {
  position: relative;
  font-size: 1.5em;
  margin-bottom: 0.5rem;
  @include grid-media($medium) {
    font-size: 1.25em;
  }

  a {
    font-weight: 400;
  }
}

.exhibit__words-box {
  margin: 0 $small-spacing;
}

// hero version
.exhibit--hero {
  position: relative;
  margin-bottom: $medium-spacing;

  @include grid-media($medium) {
    margin-bottom: $base-spacing;
  }

  .exhibit-preview__dates {
    position: static;
    padding-top: 0;
    margin-bottom: $small-spacing;
    display: block;
    font-size: 1.5em;

    p.start-date {
      padding: 0;
      margin: 0;
      line-height: normal;
    }

    @include grid-media($medium) {
      // displayed inside hero image on mobile
      display: none;
    }
  }

  .exhibit-preview__summary-text {
    font-size: 1.25em;
    max-width: 80%;
    margin: 0;
    @include grid-media($medium) {
      max-width: 100%;
    }
  }

  .hero-header__words-box.button--link {
    display: block !important;
    margin-top: 0;
    font-weight: lighter;

    a {
      color: black;
      font-weight: 400;
    }

    a:hover {
      color: $action-color;
    }

    i {
      display: none;
    }

    @include grid-media($medium) {
      margin-left: $small-spacing;
      margin-right: $small-spacing;

      i {
        display: inline;
      }

      a {
        color: $base-color;
      }
      a:hover {
        color: darken($action-color, 20%);
      }
    }
  }
}

h2.exhibit-preview__title.button--link {
  font-weight: 400;
}

//hides the below div on desktop
.exhibit__learn-more-mobile {
  display: none;
}
//a bunch of things included for the media query
@include grid-media($medium) {
  #featured-exhibits {
    margin: 1em 0;
  }

  .exhibit-preview__summary-text {
    display: none;
  }

  .exhibit__learn-more {
    display: none;
  }

  .exhibit__learn-more-mobile {
    display: inline;
  }

  .section-hr-mobile {
    display: block;
  }
}
