// HOME PAGE STYLES
////////////////////////////////////////////////////////////////
a {
  color: #96A061;
}

p {
  font-weight: 300;
}

.hero-image {
  height:350px !important;
  width:100%;
  margin-bottom:10px;
  background-size:cover;
  background-position: center;

  @include grid-media($medium) { //shrink height of image on mobile
    height:150px !important;
  }
}

.content-container {
  display:flex;
  flex-wrap: wrap;
  padding:0em 3em;
  max-width:1300px;
  margin:auto;

  @include grid-media($medium) {
    padding:1em;
  }
}

.section-hr {
    display:block;
    position: relative;
    text-align: center;
    max-width: 1300px;
    margin:auto;
    padding:0em 3em;
    height:30px;
    top:4em;

    @include grid-media($medium) {
      padding:1em 0em;
      position:relative;
      top:1em;
    }

    hr {
      position:relative;
      top:-73px;
      padding-top:0px;
      padding-bottom:10px;
      color:black;
    }

    .section-hr__h5 {
      width:160px;
      position:relative;
      margin:auto;
      top:-120px;
      margin: auto;
      padding:3px;
      background-color:white;

      h5 {
          font-family:'Roboto', sans-serif;
          text-transform: uppercase;
      }
  }

  @include grid-media($medium) {

    width:100%;

      hr {
        position:relative;
        top:-73px;
        padding-top:0px;
        padding-bottom:10px;
        width:100%;
        color:black;
      }

      .section-hr__h5 {
        width:225px;
        position:relative;
        margin:auto;
        top:-120px;
        margin: auto;
        padding-left:3px;
        padding-right:3px;
        background-color:white;

        h5 {
            font-family:'Roboto', sans-serif;
            text-transform: uppercase;
            font-size:25px;
        }
      }
    }
}

.green-button {
  border:none;
  border-radius:2px;
  text-transform: uppercase;
  padding: 0.5em 1em;
  color:white;
  background-color: #96A061;
  font-size:.9em;
  margin-top:5px;
}

.mobile-hide {
  @include grid-media($medium) {
    display:none !important;
  }
}

.mobile-hr {
  display:none;

  @include grid-media($medium) {
    display:block;
    width:100%;
  }
}

.article {
  flex-basis:49%;
  padding-bottom:1em;
  display:flex;

  @include grid-media($medium) {
    display:none;
  }

  img {
    height:100px;
    width:100px;
    padding-right:1em;
  }

  .article__text-box {
    h4 {
      font-family: 'Roboto';
      text-transform: uppercase;
      font-size: 1.3em;
      padding:0;
      margin:0;
      font-weight:400;
    }
    p {
      font-weight:lighter;
      padding:0;
      padding-bottom:3px;
      margin:0;
      line-height: 20px;
      font-size:.9em;
    }
  }
}

.wpptopdfenh {
  display:none;
}


.more-things, .activity__hr {
    display:none;
  }

.activity-container {
  display:flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  position: relative;
  top:-1.5em;

  @include grid-media($medium) {
    flex-wrap:wrap;
    padding:1em;

    .activity__hr {
        padding-top:0 !important;
        border: 0px;
        clear:both;
        display:block;
        width: 100%;
        height:1px;
        background-color:#CCC;
    }

    .more-things {
      display:block;
    }
  }

    .activity {
      flex-basis: 23%;

      @include grid-media($medium) {
        flex-basis: 100%;
        display: flex;
      }

      h4 {
        font-family: 'Roboto';
        text-transform: uppercase;
        font-size: 1em;
        font-weight:400;
        padding:0;
        margin:0;
      }
      p {
        font-weight:lighter;
        padding:0;
        padding-bottom:3px;
        margin:0;
        line-height: 20px;
        font-size:.9em;
      }

      .activity__main-image {
        @include grid-media($medium) {
          display:none;
        }
      }

      .activity__square-image {
        display:none;

        @include grid-media($medium) {
          display:block;
          height:75px;
          width:75px;
          margin-right:1em;
        }
      }
    }
  }

  .learn-more-arrow {
    height:20px;
    position: relative;
    top:3px;

    @include grid-media($medium) {
      height:25px;
      left:10px;
      top:-12px;
    }
  }

  hr {
    width:100%;
  }
