// Join & Support Landing Page

.join-support {

  > .content-container {
    justify-content: space-between;

    @include grid-media($medium) {
      padding-bottom: 0;
    }
  }

  .sub-pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sub-page {
    flex-basis: 48%;
    padding: 1em 0em;
      p {
        padding-top:.5em;
      }

      @include grid-media($large) {
        flex-basis: 100%;
      }
  }

  .sub-page__background {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: center;

    @include grid-media($large) {
      height:250px;
    }

    .sub-page__title {
      display: inline-block;
      position: absolute;
      bottom: 0;
      padding-top: 0.75em;
      padding-right: 0.75em;
      background-color: white;

      h3 {
        margin: 0;
        font-family: $base-font-family;
        line-height: 1;
        font-size: 1.5em;

        @include grid-media($large) {
          font-size: 1em;
        }

        @include grid-media($medium) {
          font-size: 1.3em;
        }
      }
    }

    h4.sub-page__quote {
      position: relative;
      left: 1em;
      top: 1em;
      max-width:200px;
      color:white;
      background: rgba(0,0,0,0.8);
      font-size:.9em;
      font-weight: 300;
      font-style: italic;
      padding:.3em;
      display: inline-block;

      @include grid-media($large) {
        display: none;
      }
    }
  }
}
