.join-support {

  .content-container {
    display: block;
    padding-top: $small-spacing;

    @include grid-media($medium) {
      padding-bottom: 0;
    }
  }

  h1.hero-header__words-box {
    @include grid-media($medium) {
      padding-bottom: $small-spacing;
    }
  }

  .main-text {
    max-width: 60%;

    @include grid-media($medium) {
      max-width:100%;
    }
  }

  .sub-pages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .sub-page {
    flex-basis: 48%;
    padding: 1em 0em;
      p {
        padding-top:.5em;
      }

      @include grid-media($large) {
        flex-basis: 100%;
      }
  }

  .sub-page__background {
    height: 200px;
    background-size: cover;
    background-position: center;

    @include grid-media($large) {
      height:250px;
    }

    h3 {
      position: relative;
      top:168px;
      padding-right:.3em;
      background-color: white;
      display: inline-block;
      font-family: 'Roboto', sans-serif;
      font-size: 1.5em;
      padding: 5px 5px 0px 0px;

      @include grid-media($large) {
        top: 220px;
        font-size: 1.4em;
      }
    }


    h4.sub-page__quote {
      position: relative;
      left:1em;
      top:-2.5em;
      max-width:200px;
      color:white;
      background: black;
      font-size:.9em;
      font-weight: 300;
      font-style: italic;
      padding:.3em;
      display: inline-block;

      @include grid-media($large) {
        display: none;
      }
    }
  }
}
