  .magazine-featured-articles {
    display: flex;
    padding-bottom: $base-spacing;

  .magazine-featured-articles__main {
    flex-basis:75%;

    @include grid-media($large) {
      flex-basis: 100%;
    }
  }

  .magazine-featured-articles__sidebar {
    padding: $small-spacing;
    flex-basis: 25%;
  }

  .content-container  {
    display: block;
  }

  .main-article-content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    padding-top: $small-spacing;
  }

  .main-article-content p {
    max-width: 90%;

    @include grid-media($medium) {
      max-width: 100%;
    }
  }

  p.author {
    font-size: .9em;
    font-style: italic;
    padding: $small-spacing 0 0 0;
  }

  h2.subheader {
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-size:1.5em;
  }

  hr {
    padding: 0;
    margin: 0;
    margin-top: $small-spacing;
    margin-bottom: 0.5em;
  }

  .article {
    display: block;
    padding-bottom: $base-spacing;

    p {
      max-width: 90%;
      @include grid-media($medium) {
        max-width: 100%;
      }
    }

    h3 {
      font-family: 'Roboto', sans-serif;
      font-weight: 400;
      margin: 0.5em 0 0 0;
    }
  }

  img {
    width: auto;
    height: auto;
  }

  ul {
    padding: 0;
    margin: 0;
  }

  ul.post-categories a {
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 400;
  }

  li {
    list-style-type: none;
  }

  .featured-stories {

    .article {
      padding-bottom: $small-spacing;
    }

    .article__image-container {
      height:275px;
      overflow: hidden;

      @include grid-media($large) {
        height: auto;
      }
    }

    .author {
      padding: 0.5em 0;
    }
  }

  .magazine-featured-articles__section-3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 $base-spacing;

    @include grid-media($medium) {
      padding: 0 $small-spacing;
    }

    .article {
      flex-basis: 49%;

      @include grid-media($medium) {
        flex-basis:100%;
      }

    .article__image-container {
        height:275px;
        overflow: hidden;

        @include grid-media($large) {
          height: 200px;
        }

        img {
          width:100%;
        }
      }
    }

    .author {
      padding: 0.5em 0;
    }
  }

  .magazine-featured-articles__sidebar {
    flex-basis: 25%;

    @include grid-media($large) {
      display: none;
    }

    h3 {
      text-align: center;
      font-size: 1.2em;
      text-transform: uppercase;
      font-family: 'Roboto', sans-serif;
      margin:0;
    }

    a > h3 {
      text-align: left;
    }

    .magazine-featured-articles__sidebar__container {
      padding: $small-spacing;
      border-left: 1px solid #CCCCCC;
      border-bottom: 1px solid #CCCCCC;
    }

    .most-read-articles {
      padding-top: $base-spacing;
    }

    .post-categories > li > a {
      color: #A6A6A6;
    }

    .author {
      padding: 0;
      margin: 0;
    }

    h3.article__title {
      padding-top: $small-spacing;
      text-transform: none;
    }

    button.grey-button {
      height: 50px;
      width: 100%;
      background: white;
      border: solid 1px #CCC;
      margin: .5em 0;
      font-size: 1em;
      color: #A6A6A6;
    }
  }
}
