// Member events page.

.member-events {
  .event {
    display: flex;
    align-items: flex-start;
    padding: $small-spacing 0;
  }

  .activity__image {
    flex-basis: 50%;
    margin-right: $small-spacing;
    overflow: hidden;
    object-fit: fill;
    @include grid-media($medium) {
      display: none;
    }
  }

  .activity__image > img {
    object-fit: cover;
  }

  .activity__content {
    @include grid-media($medium) {
      flex-basis: 100%;
    }

    h3 {
      margin: 0;
    }
  }

  .activity__location, .activity__datetime {
    font-weight: 400;
  }

  .activity__location {
    font-style: italic;
  }

  hr {
    padding: 0.5em 0;
  }
}
