// Member events page.

.member-events, .leadership {
  .event {
    display: flex;
    align-items: flex-start;
    padding: $small-spacing 0;

    @include grid-media($medium) {
      flex-wrap: wrap;
    }
  }

  .activity__image {
    flex-basis: 33%;
    margin-right: $small-spacing;
    overflow: hidden;
    @include object-fit(fill);

    &.leader {
      flex-basis: 20%;
    }

    @include grid-media($medium) {
      flex-basis: 100%;
      margin-right: 0;
      margin-bottom: $small-spacing / 2;
    }
  }

  .activity__image > img {
    @include object-fit(cover);
  }

  .activity__content {
    flex-basis: 66%;

    @include grid-media($medium) {
      flex-basis: 100%;
    }

    h3 {
      margin: 0;
    }
  }

  .activity__location, .activity__datetime {
    font-weight: 400;
  }

  .activity__location {
    font-style: italic;
  }
}
