// Second section on all Membership & Donation inside pages, with 4 links to other membership/donation pages.

.member-perks {
  .sub-page-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) { //IE Fix
      min-width:100%;
    }
  }

  .sub-page {
    flex-basis: 24%;
    text-align: center;

    @include grid-media($medium) {
      flex-basis: 49%;
      padding-bottom: $small-spacing;
    }

    @include grid-media($small) {
      flex-basis: 100%;
    }
  }

  .sub-page__image {
    width: 100%;
  }

  .contact-us {
    padding-bottom: $base-spacing;
  }

  hr {
    padding: 0;
    margin: $small-spacing 0 0 0;
  }
}
