#more-things-to-do {
  .section-hr {
    width:100%;
    padding:0;
    padding: 2em 0em;

    hr {
      width:100%;
      padding:0;
    }

    .section-hr__h5 {
      width:250px;

      @include grid-media($medium) {
        width:275px;
      }
    }
  }
}
