// Our Museums homepage section.

#our-museums {
  .museum-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: $large-spacing;
    overflow: hidden;
    @include grid-media($medium) {
      padding-bottom: $base-spacing;
    }
  }

  .museum {
    flex-basis: 23%;
    @include grid-media($medium) {
      flex-basis: 47%;
      margin-bottom: $base-spacing;

      &:last-child,
      &:nth-last-child(2) {
        margin-bottom: 0;
      }
    }

    img {
      width: 100%;
    }

    h4 {
      font-family: 'Roboto';
      font-size: 1.1em;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
  }
}
