article {
    .article-meta {
      display: flex;
      justify-content: space-between;
    }

    .article-meta__main,
    .font-resizer {
      display: flex;
    }

    p.article-meta__divider {
      font-weight: bold;
      padding: 0 $small-spacing;
    }

    .title-box {
      padding:1em;
      text-align: center;
      max-width:1000px;
      margin:auto;

    time {
      display:none;
    }

    .entry-title {
      font-family: 'Lora', serif;
      font-weight:lighter;
      font-size: 1.9em;
      margin:0;
      padding:0;
      max-width:1000px;
      margin:auto;
    }

    .author, .author a {
      color: #7a7a7a;
      font-family: 'Lora', sans-serif;
      font-weight:bold;
      font-style: italic;
      font-size: 1em;
    }

    .article__summary {
      font-weight:lighter;
    }
  }

  .entry-content {
    padding:0em 1em;
    max-width:1000px;
    margin:auto;
    overflow: hidden;

    p {
      line-height: 25px;
      padding-bottom: $small-spacing;
    }

    h2, h3 {
      font-family: 'Roboto', sans-serif;
    }


    .wp-caption-text {
      // @extend h5;
      font-family: 'Lora';
      padding:0;
    }

    .alignright {
      float: right;
    }

    .alignleft {
      float: left;
    }

    img,
    p > img {
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }

    figcaption.wp-caption-text {
      // max-width: 100% !important;
      max-width: 1300px;
    }

    img.alignleft {
      padding: .5em .5em .5em 0em;
      float: left;
    }

    img.aligncenter {
      margin:auto;
      padding: .5em 0em;
      height:auto;
      width:100%;
    }

    img.alignright {
      padding: .5em 0em .5em .5em;
      float:right;
    }

    blockquote {
      width:100%;
      margin:$small-spacing 0;
      padding:$small-spacing 0;
      border-top: solid 3px;
      border-bottom: solid 3px;

      p {
        padding-bottom: 0;
      }
    }
  }

  hr {
    padding:0;
    margin:0;
    margin-bottom:1em;
    height: 3px;
  }

  .green-button {
    margin-right:5px;
    margin-bottom:1em;
    text-transform: none;

    a {
      color:white;
    }
  }

  .tags-title {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    text-transform: capitalize !important;
    color:black !important;
    margin-bottom:0;
  }

  .entry-social-links {
    display:flex;
    justify-content: flex-start;
    max-width:100%;

    div {
      padding:.8em 1.5em;
      margin-bottom:1em;
      margin-right:5px;
      text-align:center;
      color:white;
      font-size:.9em;
      font-weight: 300;
      display:flex;
      justify-content: center;
      align-items: center;

      @include grid-media($medium) {
        padding: .5em 1em;
      }

      img {
        height:20px;
        width: 100%;

        @include grid-media($medium) {
          height:15px;
        }
      }
    }

    .facebook-link {
      background-color: #3B5999;
    }

    .twitter-link {
      background-color:#1AA1F2;
    }

    .print-link {
      background-color: #728A8E;
    }

    .more-link {
      background-color: #FF6551;
    }
  }

  .download-pdf {
    width:130px;
    display:flex;
    align-items: center;

    img {
      height:20px;
    }
  }

  .wpptopdfenh {
    display:none;
  }

  .recent-articles-container {
    position:relative;
    margin-top:2em;
    display:flex;
    justify-content: space-between;

    @include grid-media($medium) {
      display: block;
    }

  }

  .article {
    flex-basis:32%;
    display:flex !important;

    h4 {
      font-style: normal;
    }
  }

  .more-articles-container {
    width:100%;
    display:flex;
    justify-content: center;
  }

  button.green-button.more-articles {
    width:32%;
    padding: .8em 0em;
    text-transform: capitalize;
    font-weight: bold;
    font-size:1.1em;

    @include grid-media($medium) {
      width:100%;
    }
  }

  .section-hr {

    position: relative;
    top:4em;
    padding:1em !important;
    max-width: 1000px;

    .section-hr__h5 {
      width:250px;
      top:-105px;
    }

    @include grid-media($medium) {
      top:4em;

      .section-hr__h5 {
        top:-110px;
        width:275px;

        h5 {
        font-weight:600;
        color:black !important;
        }
      }
    }

  }

    @include grid-media($medium) {
      img {
        margin:auto;
      }
    }

  .tags a,
  .article-meta__issue a,
  .article-meta__issue p,
  a.print,
  .font-resizer a {
    @extend .small-uppercase;
    color: black;
    font-weight: bold;
  }

  .tags a,
  .tags p {
    color: #96A061;
  }

  li.fontResizer.ct-font-resizer-element {
    list-style-type: none;
    padding-left: 5px;
  }

  ul.ct-font-resizer {
    padding: 0;
    margin: 0;
  }

  a.print {
    margin-top: 4px;

    i {
      padding-right: 5px;
    }
  }

  .article__main {
    figure {
      max-width: 100% !important;
      padding-bottom: $base-spacing;
    }

    figcaption.wp-caption-text,
    span.media-credit {
      font-size: .8em;
      font-family: 'Roboto';
    }

    span.media-credit {
      float: right;
      padding-bottom: 0;
      color:black;
      font-size: .7em;
      font-weight: lighter;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    blockquote,
    figcaption {
      max-width: 70%;
    }

    blockquote {
      p,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6, {
        max-width: 100%;
      }
    }
  }

.article__related {
  float: right;
  max-width: 30%;
  padding: $base-spacing;
  position: relative;
  bottom: 100em;
  height: 0;

    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      text-transform: uppercase;
      position: relative;
      left: 1em;
      padding: 0;
      margin: 0;
    }

    .image-container {
      height:125px;
      min-width: 300px;
      background-size: cover;
      background-position: center;
    }
    .tags a {
      color: grey;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: .9em;
      line-height: 20px;
      min-width: 285px;
      padding-bottom: 0.5em;
    }

    .author {
      padding: 0;
      margin: 0;
      margin-bottom: $small-spacing;
    }
  }
}

.magazine-subscribe {
  max-width: 60%;
  text-align:center;
  padding-bottom: $base-spacing;

  p.uppercase-robot {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grey-button {
    text-transform: uppercase;
    color: black;
    font-size: .9em;
  }
}

p.sp-layer.sp-black.sp-padding.desc-in.desc-in-bg.hide-medium-screen {
  top: 90% !important;
}
