// Formatting for inidividual blog posts. It's a long one.

article {
  // The bar of info about the article with issue, categories, etc.
  .article-meta {
    display: flex;
    justify-content: space-between;
  }

  .article-meta__main,
  .font-resizer {
    display: flex;
  }

  li.fontResizer.ct-font-resizer-element {
    position: relative;
    top: -3px;
  }

  .article-meta__main {
    @include grid-media($medium) {
      width: 100%;
      justify-content: space-between;
    }
  }

  p.article-meta__divider {
    font-weight: bold;
    padding: 0 $small-spacing;
  }

  .title-box {
    padding: 1em;
    text-align: center;
    max-width: 1000px;
    margin: auto;

    time {
      display: none;
    }

    h1.entry-title {
      font-family: 'Roboto', serif;
      font-size: 3em;
      font-weight: 400;
      margin: 0;
      padding-bottom: $small-spacing;
      max-width: 1000px;
      margin: auto;
    }

    .article__summary {
      font-weight: lighter;
    }
  }

  // .content-sidebar-container {
  //   display: flex;
  // }

  // .article__content {
  //   flex-basis: 85%;
  //   overflow: hidden;
  // }

  //Tons of formatting to ensure all the things in the WYSWIG editor box format coorrectly.
  .entry-content {
    padding: 0 1em;
    max-width: $max-width;
    margin: auto;
    overflow: hidden;

    p {
      line-height: 25px;
      padding-bottom: $small-spacing;
      font-size: 1.1em;
    }

    h2,
    h3 {
      font-family: 'Roboto', sans-serif;
    }

    .wp-caption-text {
      // @extend h5;
      font-family: 'Lora';
      padding: 0;
    }

    .alignright {
      float: right;
    }

    .alignleft {
      float: left;
    }

    img,
    p > img {
      width: 100%;
      height: auto;
      padding-bottom: 0;
    }

    figcaption.wp-caption-text {
      // max-width: 100% !important;
      max-width: 1300px;
    }

    img.alignleft {
      padding: 0.5em 0.5em 0.5em 0;
      float: left;
    }

    img.aligncenter {
      margin: auto;
      padding: 0.5em 0;
      height: auto;
      width: 100%;
    }

    img.alignright {
      padding: 0.5em 0 0.5em 0.5em;
      float: right;
    }

    blockquote {
      width: 100%;
      margin: $small-spacing 0;
      padding: $small-spacing 0;
      border-top: solid 3px;
      border-bottom: solid 3px;

      p {
        padding-bottom: 0;
      }
    }
  }

  hr {
    padding: 0;
    margin: 0 0 1em;
    height: 3px;
  }

  .green-button {
    margin-right: 5px;
    margin-bottom: 1em;
    text-transform: none;

    a {
      color: white;
    }
  }

  .tags-title {
    font-family: 'Roboto' !important;
    font-style: normal !important;
    text-transform: capitalize !important;
    color: black !important;
    margin-bottom: 0;
  }

  .wpptopdfenh {
    display: none;
  }

  .article {
    flex-basis: 32%;
    display: flex !important;

    h4 {
      font-style: normal;
    }
  }

  .more-articles-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  button.green-button.more-articles {
    width: 32%;
    padding: 0.8em 0;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1em;
    @include grid-media($medium) {
      width: 100%;
    }
  }

  .section-hr {
    position: relative;
    top: 4em;
    padding: 1em !important;
    max-width: 1000px;

    .section-hr__h5 {
      width: 250px;
      top: -105px;
    }
    @include grid-media($medium) {
      top: 4em;

      .section-hr__h5 {
        top: -110px;
        width: 275px;

        h5 {
          font-weight: 600;
          color: black !important;
        }
      }
    }
  }
  @include grid-media($medium) {
    img {
      margin: auto;
    }
  }

  .article-meta__issue a,
  .article-meta__issue p,
  .font-resizer a,
  .tags a,
  a.print {
    @extend .small-uppercase;
    color: black;
    font-weight: bold;
  }

  .tags a,
  .tags p {
    color: $base-color;
  }

  li.fontResizer.ct-font-resizer-element {
    list-style-type: none;
    padding-left: 5px;
  }

  ul.ct-font-resizer {
    padding: 0;
    margin: 0;
  }

  a.print {
    margin-top: 4px;

    i {
      padding-right: 5px;
    }
  }

  .font-resizer,
  .social-share,
  a.print,
  p.article-meta__divider {
    @include grid-media($medium) {
      display: none;
    }
  }

  .article__main {
    figure {
      max-width: 100% !important;
      padding-bottom: $base-spacing;
    }

    figcaption.wp-caption-text,
    span.media-credit {
      font-size: 0.8em;
      font-family: 'Roboto';
    }

    span.media-credit {
      float: right;
      padding-bottom: 0;
      color: black;
      font-size: 0.7em;
      font-weight: lighter;
      position: relative;
      bottom: 0;
      max-width: 40%;
    }

    blockquote,
    figcaption,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      max-width: 70%;
      @include grid-media($large) {
        max-width: 100%;
      }
    }

    blockquote {
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p {
        max-width: 100%;
      }
    }
  }
  // 'You may also like' sidebar.
  .article__related {
    max-width: 25%;
    float: right;
    text-align: left;
    display: block;
    padding-bottom: $small-spacing;
    position: relative;
    top: 30%;

    @include grid-media($large) {
      display: none;
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      text-transform: uppercase;
      min-width: 100%;
      padding: 0;
      margin: 0;
    }

    .image-container {
      height: 125px;
      // min-width: 300px;
      background-size: cover;
      background-position: center;
    }

    .tags a {
      color: grey;
    }

    p {
      padding: 0;
      margin: 0;
      font-size: 0.9em;
      line-height: 20px;
      min-width: 100%;
      padding-bottom: 0.5em;
    }

    .author {
      padding: 0;
      margin: 0 0 $small-spacing;
    }
  }
}
// Magazine subscription signup area.
.magazine-subscribe {
  max-width: 60%;
  text-align: center;
  padding-bottom: $base-spacing;
  @include grid-media($large) {
    max-width: 100%;
  }

  p.uppercase-robot {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .grey-button {
    text-transform: uppercase;
    color: black;
    font-size: 0.9em;
  }
}

p.sp-layer.sp-black.sp-padding.desc-in.desc-in-bg.hide-medium-screen {
  top: 90% !important;
}

.ess-button-inner {
  background-color: grey !important;
}

.bottom-tags {
  display: flex;
  p {
    margin-right: 5px;
    margin-top: 5px;
    font-size: .8em !important;
    font-weight: bold;
  }
  > a {
    @extend .green-button;
    max-height: 25px;
    overflow: hidden;
  }
}
