.tag-partial {
  max-width: $max-width;
  margin: auto;

  p {
    max-width: 60
  }

  article {
    display: flex;
    margin-bottom: $base-spacing;
    padding-bottom: 0;
    overflow: hidden;
  }

  .article__content {
    flex-basis: 80%;
  }

  .article__image {
    max-height: 200px;
    width: 200px;
    margin-right: $small-spacing;

    img {
      @include object-fit(cover);
      min-height: 200px;
      min-width: 200px;
    }
  }
}
