#things-to-do {

  .section-hr {
    margin-top:2em;
    padding-bottom:0em;

    @include grid-media($medium) {
      margin-top:1em;
      margin-bottom:2em;
    }
  }

  .section-hr__h5 {
    width:150px;

    @include grid-media($medium) {
      width: 180px;
      padding:4px;
    }
  }

  button {
    width:100%;
    padding:1em;
    margin-bottom:1em;
    font-size:1.2em;
    font-weight:500;
  }
}
