#things-to-do {

  .activity-container {
    padding-top:2em;
  }

  .section-hr {
    top:4em;

    @include grid-media($medium) {
      position: relative;
      height:10px;
      top:2.3em;
      padding:0;
    }
  }

  hr {
    padding-top:.5em;
  }

  .section-hr__h5 {
    width:150px;

    @include grid-media($medium) {
      width: 180px;
      padding:4px;
    }
  }

  button {
    width:100%;
    padding:1em;
    margin-bottom:1em;
    font-size:1.2em;
    font-weight:500;
  }
}
