// Things to do landing page & first level of inside pages.

.things-to-do-page {
  > .content-container {
    justify-content: space-between;
  }

  .activity {
    flex-basis: 48%;
    padding-bottom: 2em;
    @include grid-media($medium) {
      flex-basis: 100%;
    }

    h3 {
      font-family: 'Roboto';
      font-size: 1.5em;
      @include grid-media($large) {
        font-size: 1em;
      }
      @include grid-media($medium) {
        font-size: 1.3em;
      }
    }

    .activity__title {
      padding-top: 0.5em;
      padding-right: 0.5em;
      display: inline-block;
      position: relative;
      top: 135px;
      background-color: white;
    }
  }

  .activity__image {
    height: 175px;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    margin-bottom: 1em;
  }

  hr {
    margin-top: 1em;
  }
}
