// Deepest level inside page in 'Things to Do section'

.things-to-do-subcategory {

  .large-title {
    @include grid-media($medium) {
      padding: 0 1em 1em;
    }

    h1 {
      font-size: 4em;
      font-weight: 300;
      margin-bottom: 0;
      @include grid-media($medium) {
        font-size: 3em;
      }
    }
  }

  hr {
    @include grid-media($medium) {
      width: 95%;
      margin: auto;
    }
  }

  .activity-container {
    display: flex;
    flex-wrap: wrap;
    top: 0;
    margin-top: $base-spacing;

    .activity {
      flex-basis: 49%;
      justify-content: space-between;
      padding-bottom: 2em;
      @include grid-media($medium) {
        flex-basis: 100%;
        display: block;
      }

      .activity__image {
        height: 200px;
        background-size: cover;
      }

      h3 {
        font-family: 'Roboto';
        font-weight: 400;
        margin-bottom: 0;
        padding-top: 1em;
      }

      p {
        line-height: 1.7em;
      }
    }
  }

  a.large-title,
  h1.large-title {
    display: inline;
  }

  .learn-more-arrow {
    display: inline;
    top: 4px;
    left: 0;
    height: 28px;
  }
}

.text-box {
  width: 100%;
}

.large-title {
  margin-top: $small-spacing * 1.5;
  margin-bottom: $small-spacing / 2;
}
