// Homepage Things to Do section.

#things-to-do {

  @include grid-media($medium) {
    padding: 0;
  }

  .activity__image-container {
    height: 155px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding-bottom: $small-spacing;

    @include grid-media($medium) {
      height: 100px;
      width: 100px;
      padding: 0;
    }

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      flex-grow: 0;
    }
  }

  .activity__square-image {
    height: 100px;
    width: 100px;
  }

  h4 {
    font-weight: 400;
  }
}
