// GLOBAL VARIABLES
////////////////////////////////////////////////////////////////

// Typography
$base-font-family:'Roboto', sans-serif;
$alt-font-family: 'Lora', serif;
$base-font-size: 1em;

// Sizes
$max-width: 1200px;
$base-spacing: 2rem;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$extra-large-spacing: $base-spacing * 3;

// Colors
$dark-gray: #333;
$medium-dark-gray: #666;
$medium-gray: #999;
$light-gray: #ccc;
$base-color: #96A061;
$dark-color: darken($base-color, 15);

// Font Colors
$base-font-color: $dark-gray;
$action-color: $base-color ;
$inverse-font-color: #fff;
$inverse-action-color: $base-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $dark-gray;

// Borders
$base-border-color: $light-gray;
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;
$inverse-border: 1px solid $dark-gray;

//Nav colors
$nav-dropdown: #6F774A;
$nav-hover: #95A064;
